<!DOCTYPE html>
<html lang="ro">
    <head>
        <title>PcBuy</title>
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0" >
        <meta name="keywords" content="livrare la domiciliu, romania, calculator, placa video, componente, hardware, gaming" >
        <meta name="description" content="Cumperi componente de calculatoare: placi video, procesoare etc." > <!--comentariu-->
        <meta name="author" content="Munteanu Andrei"> <!--Autorul paginii-->

        <%- include("../fragmente/head.ejs") %>
        
    </head>
    <body>

        <%- include("../fragmente/header.ejs") %>
        <main>
            <h1>Uitati Galeria!</h1>
            <div>
                <%- include("../fragmente/poze.ejs") %>
            </div>
        </main>
        <%- include("../fragmente/footer.ejs") %>
        
    </body>
</html>