<footer>
            <a href="#" title="mergi sus" id="link-top"><div id="triunghi-exterior"><div id="triunghi-interior"></div></div></a>
            <a href="http://exemplulinksitefictiv" target="_blank">Link site</a><br>
            <a href="https://maps.app.goo.gl/FQDq9euan9nPmfWk9" target="_blank">Locatie</a><br>
            
            <q><em>It's hardware that makes a machine fast. It's software that makes a fast machine slow.</em></q> - Craig Bruce <br>
            <small>
                &copy; 2025 Toate drepturile rezervate. Pagina creata la 
                <time datetime="2025-03-09">9 martie 2025</time>.
            </small>
            <p id="banner">Acesta este un proiect scolar!</p>
        </footer>