<header>
<h1>Bine ai venit! Ai accesat site-ul PcBuy</h1>
</header>
<nav>
    <label id="hamburger" for="ch-menu">
        <img src="/resurse/imagini/Hamburger_icon_alb.png" alt="menu">
    </label>
    <input id="ch-menu" type="checkbox">
    <ul class="meniu">
        <!-- <li><div class="text-icon"><a href="#">Inregistrare</a></div><div class="imag-icon" ><span class="fas fa-solid fa-book"></span></div> -->
        <li><div class="text-icon"><a href="/">Acasa</a></div><div class="imag-icon" ><span class="fas fa-regular fa-house"></span></div>
        <li><div class="text-icon"><a href="/despre">Despre</a></div><div class="imag-icon" ><span class="fas fa-regular fa-circle-info"></span></div>
        <li><div class="text-icon"><a href="/#sectiune1">Autentificare</a></div><div class="imag-icon" ><span class="fas fa-regular fa-link"></span></div>
            <ul>
                <li><a href="/#subsectiune1">Login</a></li>
                <li><a href="/#subsectiune2">Sign up</a></li>
            </ul>
        </li>
        <!-- <li><div class="text-icon"><a href="/#sectiune2">Wishlist</a></div><div class="imag-icon"><span class="fas fa-regular fa-heart"></span></div></li> -->
        <li><div class="text-icon"><a href="/#sectiune3">Cos de cumparaturi</a></div><div class="imag-icon"><span class="fas fa-regular fa-cart-shopping"></span></div></li>
        <!-- <li><div class="text-icon"><a href="#sectiune4">Despre produse</a></div><div class="imag-icon"><span class="fas fa-regular fa-circle-info"></span></div></li>
        <li><div class="text-icon"><a href="#sectiune5">Pentru asamblare</a></div><div class="imag-icon"><span class="fas fa-regular fa-gear"></span></div></li> -->
        
        <li><div class="text-icon"><a href="https://google.com">Pagina Informativa</a></div><div class="imag-icon"><span class="fas fa-regular fa-star"></span></div></li>
        <li><div class="text-icon"><a href="/#sectiune6">Contact</a></div><div class="imag-icon"><span class="fas fa-regular fa-phone"></span></div></li>
        <li><div class="text-icon"><a href="/#sectiune8">Oferte</a></div><div class="imag-icon"><span class="fas fa-regular fa-handshake"></span></div></li>
    </ul>
</nav>